* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px; /* Smaller header */
}

.logo-container {
  display: flex;
  align-items: center;
}

.App-logo {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}


h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.App-navbar {
  flex: 1; /* Take available space */
  display: flex;
  justify-content: center; /* Center the navbar items */
}

.App-navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.App-navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  position: relative;
}

.App-navbar ul li a:hover {
  text-decoration: none;
  background-color: #444;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-account {
  display: flex;
  align-items: center;
}

.search-bar {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
}

.login-button {
  padding: 5px 10px;
  background-color: #61dafb;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #21a1f1;
}

.App-body {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.App-content {
  width: 50%; 
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.App-footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 10px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* TableComponent.css */
.table-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.styled-table {
  width: 80%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.styled-table thead tr {
  background-color: #007bff;
  color: #fff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.styled-table tbody tr {
  transition: background-color 0.3s ease;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:hover {
  background-color: #f1f9ff;
}

.styled-table tr:hover {
  cursor: pointer;
}

body {
  background-size: cover;
}


.login-page {
  max-width: 300px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.login-page h2 {
  text-align: center;
}

.login-page form div {
  margin-bottom: 1rem;
}

.login-page label {
  display: block;
  font-weight: bold;
}

.login-page input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.login-page button {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
}

.error {
  color: red;
  text-align: center;
  margin-top: 0.5rem;
}
